:root{
    --main-color: #000;
    --secondary-color: #fff;
    --bg-color: #0D0D0D;
    --gray-color: gray;
    --bd-rgba-color: rgba(255,255,255,.7);
    
}
body{
    background-color: var(--main-color);
}
#home{
    position: relative;
    height: 100vh;
}
.my-card{
    cursor: pointer;
}
#sideBar{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 6666;
    display: flex;
}
.inner-side{
    padding-left: .9375rem;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.inner-side li{
    margin-bottom: 1.25rem;
    
}
#close-side{
    position: absolute;
    right: 1.875rem;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 1.25rem;
    transition: all .5s;
    top: 1.25rem;
}
.inner-side a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    transition: all .5s;
}
i{
    cursor: pointer;
}
.links{
    overflow: hidden;
}
.link-item{
    position: relative;
}
.social-icons{
    color: var(--secondary-color);
    cursor: pointer;
}
.logo img{
    width: 3.125rem;
}
.copyright{
    width: 70%;
}
.outer-side{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.4375rem .5rem;
    align-items: center;
}
.loading,.inner-loading{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--main-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading,.inner-loading i{
    color: var(--secondary-color);
}

.card-layer{
    position: absolute;
    background-color: var(--bd-rgba-color);
    top: 120%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .625rem;
    transition: all .7s;
}
.my-card:hover .card-layer{
    top: 0;
}

.form-control::placeholder{
    color: var(--gray-color);
}

.alert{
    width: fit-content;
}
.loading-screen{
    z-index: 999;
    display: flex;
}

.inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: var(--bg-color);
    display: flex;
}
.pointer{
    cursor: pointer !important;
}
